.ant-pro-header-light {
	.ant-pro-global-header-layout-mix {
		background-color: var(--primary-color);

		.ant-pro-global-header-logo a img {
			height: 100%;
			padding: 5px 0;

			@media (max-width: @screen-xs) {
				max-width: 160px;
			}
		}
	}
}

.ant-pro-header-dark {
	.ant-pro-global-header-layout-mix {
		.ant-pro-global-header-logo a img {
			height: 100%;
			padding: 8px 0;
		}
	}
}

.ant-menu-light.ant-pro-sider-menu {
	padding: 18px 0;

	.ant-menu-item,
	.ant-menu-submenu-title {
		padding: 5px 12px;
		line-height: 1.5;
		border-radius: 2px;

		&::after {
			border: none;
		}
	}

	.ant-pro-menu-item {
		white-space: break-spaces;
	}

	li.ant-menu-item-selected {
		color: white;
	}

	.ant-menu-submenu {
		& > .ant-menu-submenu-title {
			padding-right: 24px !important;
			border-radius: 2px;

			.ant-menu-submenu-arrow {
				right: 10px;
			}
		}

		.ant-menu-sub {
			border-radius: 2px;
		}
	}
}

.ant-menu-dark.ant-pro-sider-menu {
	.ant-menu-item,
	.ant-menu-submenu-title {
		padding-top: 5px;
		padding-bottom: 5px;
		line-height: 1.5 !important;
		border-radius: 2px;

		&::after {
			border: none;
		}
	}

	.ant-pro-menu-item {
		white-space: break-spaces;
	}
}

.ant-layout-content {
	margin: 18px !important;

	@media (max-width: @screen-xs) {
		margin: 12px !important;
	}
}

.ant-layout {
	min-height: 100vh;
}

.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed {
	left: unset;
}

// Compatible with IE11
@media screen and(-ms-high-contrast: active), (-ms-high-contrast: none) {
	body .ant-design-pro > .ant-layout {
		min-height: 100vh;
	}
}
