.popover {
  position: relative;
  width: 400px;
}

.noticeButton {
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s;
}

.icon {
  padding: 4px;
  vertical-align: middle;
}

.badge {
  height: 48px;
  font-size: 16px;
  line-height: 48px;

  :global(.ant-badge-count) {
    top: 10px;
    right: 5px;
    padding: 0;
  }
}

.tabs {
  :global {
    .ant-tabs-nav-list {
      margin: auto;
    }

    .ant-tabs-nav-scroll {
      text-align: center;
    }

    .ant-tabs-bar {
      margin-bottom: 0;
    }
  }
}

@keyframes bellShake {
  0% {
    transform: rotate(0);
  }

  15% {
    transform: rotate(15deg);
  }

  30% {
    transform: rotate(-15deg);
  }

  45% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(5deg);
  }

  85% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0);
  }
}

.bellIconShake {
  animation: bellShake 0.6s cubic-bezier(.36, .07, .19, .97) both;
  display: inline-block;
}

.noticeWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;

  width: 40px;
  height: 40px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  margin: 0 8px;
  position: relative;
  transform-origin: top center;

  &:hover {
    background: #f5f5f5;
  }
}

// comment to push